#current-weather, #forecast-weather
{
    background-color: rgb(229, 213, 192);
    padding: 10px;
    margin: 5px;
}
.heading-bars h2
{
    display: flex;
    color: white;
    background-color: black;
    justify-content: center;
}