@media only screen and (min-width: 38rem)
{

    header, main, nav, footer
    {
        max-width: 900px;
        margin: 0 auto;
    }

    header
    {
        grid-template-columns: 24px auto;
    }

   .hamburger
   {
    display: none;
   } 
   .navigation
   {
    display: block;
   }

   .navigation ul
   {
    display: flex;
    width: 100%;
    justify-content: space-around;
    
   }
   .navigation a
   {
    border: none;
   }

   /************* styling for the join page************** */
   #formAndLevel 
   {
    display: grid;
    grid-template-columns: 1fr 1fr;
   }

   .levelCard
   {
    margin: 30px;
   }
}