@media screen and (min-width: 600px)
{
   header, nav, main, footer 
   {
    max-width: 900px;
    border: solid 1px;
   }
   header div
   {
    display: grid;
    grid-template-columns: 24px 1fr;
   }
   header button
   {
    display: none;
   }

   .navigation
   {
    display: block;

   }
   .navigation ul
   {
    display: flex;
    justify-content: space-around;
   }
    .navigation a
    {
        border-bottom: none;
    }


}