@media only screen and (min-width: 69rem)
{

    header, main, nav, footer
    {
        max-width: 100%;
        margin: 0 auto;
    }

    header
    {
        grid-template-columns: 24px auto;
    }



     /************* styling for the join page************** */
   #formAndLevel 
   {
    display: grid;
    grid-template-columns: 1fr 1fr;
   }

   .levelCard
   {
    margin: 30px;
   }

   /* ************** discover page styling********* */

.card
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    background-color: green;
}
.placeCard
{
    width: auto;
    max-width: 560px;
    display: grid;
    grid-template-areas:
    "photo title"
    "photo description"
    "photo location"
    "photo button"
    ;
    
}
.placeCard figure
{
    grid-area: photo;
}

.placeCard figure img

{
    width: 300px;
    height: 200px;
}

.placeCard h2
{
    grid-area: title;
}

.placeCard p
{
    grid-area: description;
}

.placeCard address
{
    grid-area: location;
}

.placeCard button
{
    grid-area: button;
}
}