@media only screen and (min-width: 38rem)
{
/* ************************Header styling********************************* */
header
{
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: 2px #ccc solid;
    column-gap: 10px;
}

header img
{
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span
{
    color: darkgreen;
}

/* *************************Hamburger Menu Styling**************************** */
.hamburger
{
    display: none;
}

.hamburger::before
{
    content:"\2630" ;
    font-size: 1.5rem;
}

.hamburger.show::before
{
    content: "\00D7";
}

.navigation
{
    display: block;
}

 .navigation ul
   {
    display: flex;
    width: 100%;
    justify-content: space-around;
    
   }
   .navigation a
   {
    border: none;
   }


.navigation a
{
    display: block;
    padding: .8rem 10px;
    color: darkgreen;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}


.navigation li:hover
{

    background-color: darkgreen;
}

.navigation a:hover
{
    color: antiquewhite;
}

/* *******************************Footer Styling*********************************** */

footer
{
    background-color: #ccc;
    padding: 1rem 10px;
    text-align: center;
}

.social
{
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.social a:hover
{
    background-color: #bbb;
}

.social img
{
    width: 22px;
    height: 22px;
}


/******************************* Heading Styling ***********************************/
h1
{
    color: darkgreen;
    margin-left: 10px;
}

/* **************image styling************** */
.myPhoto img
{
    width: 120px;
    height: auto;
}

/* ***************************Wayfinding************************** */

#current-page
{
 background-color: #ddd;  
 color: darkgreen; 
}

#current-page:hover
{
    background-color: darkgreen;
    color: antiquewhite;
}

/* ********************Course styling */

#webCourses
{
    display: flex;
    flex-wrap: wrap;
    background-color: #bbb;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 2px solid green;
    border-radius: 5px;
    
}

p.completed, p.pending
{
    padding: 15px;
    margin: 15px;
    border: 1px solid black;
    border-radius: 5px;
    /* box-shadow created with w3 Schools CSS Box Shadow Generation Tool */
    box-shadow: 18px 4px 30px 3px rgba(0, 0, 0, 0.3);
    
}

p.completed
{
    color: aliceblue;
    background-color: darkgreen;

}

p.pending
{
    background-color: yellow;
}
#courseComplete
{
    background: darkgreen;
    height: 30px;
    width: 30px;
    margin: 10px;
}

#coursePending
{
    background: yellow;
    height: 30px;
    width: 30px;
    margin: 10px;
}

#pendingWrapper
{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#completeWrapper
{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ***********Home Page specific*************** */

#hero
{
    background-image: url(../chamber/images/mountain.webp);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    min-height: 30vh;
    position: relative;
}

#keynote
{
   position: absolute;
   bottom: 20px;
   right: 20px;
}

/* **********************Style dialog element*/
#course-details
{
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: .25rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 3rem #777;
    width: 90%;
    max-width: 600px;
}

::backdrop
{
    background-color: rgb(0 0 0 / 50%)    
}

dialog button
{
    position: absolute;
    top: 23px;
    right: 23px;
    padding: .5rem 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
}
/* **************************form styles****** */
form, #thankYou
{
    max-width: 400px;
    background-color: rgb(247, 222, 190);
    margin: 5px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 5px;
    display: grid;
    padding: 10px;
}

label, input
{
    margin: 5px
}

/* ***********membership level card styles**************  */

@keyframes fadeColor {
    from {background-color: white;
    color: white;
    border: transparent;}
    to {background-color:  rgb(247, 222, 190);
        color: black;
    border: solid black 2px;}
}



.levelCard
{
    animation: fadeColor 2s ease-in 1s 1 backwards ;
    max-width: 400px;
    background-color: rgb(247, 222, 190);
    margin: 5px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 5px;
    display: grid;
    padding: 10px;
    text-align: center;
}

.levelCard button
{
    animation: fadeColor 2s ease-in 1s 1 backwards ;
}

/* *****************discover page styling******** */

.placeCard
{
    width: auto;
    max-width: 560px;
    display: grid;
    grid-template-areas:
    "photo title"
    "photo description"
    "photo location"
    "photo button"
    ;
    transition: transform 0.3s ease;
}
.placeCard:hover
{
    transform: scale(1.1);
}

/* **************gallery************* */

.rockCard
{
    display: block;
}

.mineralDetailsButton
{
    display: none;
}
.specificMineral
{
    display: flex;
}

/* ******************mineral home page */

#gemHero
{
    grid-template-columns: 1fr 3fr 1fr;
    background-image: none;
}

.center
{
    background-image: url("../images/mossmedium.webp");
    border: 2px solid black;
}

.rightside, .leftside
{background-color: darkgreen;}

#gemHero h3, .leftside h3, .rightside h3
{
    background-color: rgb(247, 222, 190);
    text-align: center;
    width: 75%;
    margin-bottom: 0px;
}

#gemHero p, .leftside div, .rightside ul, .rightside p, #current-weather, #forecast-weather
{
    width: 75%;
    background-color: rgb(255, 255, 255);
    margin-top: 0px;
}

#gemHero .center h3
{
    background-color: rgba(247,222,190,.8);
}

#gemHero .center p
{
    background-color: rgba(255, 255, 255, .7);
}

}




